/*Variables*/
:root{
    --Blue: hsl(223, 87%, 63%);
    --Pale-Blue: hsl(223, 100%, 88%);
    --Light-Red: hsl(354, 100%, 66%);
    --Gray: hsl(0, 0%, 59%);
    --Very-Dark-Blue: hsl(209, 33%, 12%);
}

/*Body*/
body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-size: 20px;
    font-family: 'Libre Franklin', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Main container*/
main{
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}
.m-text{
    margin: 30px 0 10px;
    font-weight: 300;
    color: var(--Gray);
}
.m-text span{
    color: var(--Very-Dark-Blue);
    font-weight: 600;
}
.m-paragraph{
    color: var(--Very-Dark-Blue);
    margin: 20px 0 0 0;
}
/*form*/
.email{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0;
    height: 79px;
}
.input-container{
    width: 380px;
}
.inp{
    border: 1px solid var(--Gray);
    
    border-radius: 25px;
    margin-right: 12px;
    padding-left: 18px;
    color: var(--Very-Dark-Blue);
    height: 47px;
    width: 90%;
}
.inp::placeholder{
    color: var(--Gray);
}
.btn{
    border: none;
    background-color: var(--Blue);
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Libre Franklin', sans-serif;
    box-shadow: 4px 13px 39px -6px var(--Blue);
}
.btn:hover{
    cursor: pointer;
    opacity: 0.7;
    transition: 300ms;
}
.il-container{
    width: 600px;
    margin: 60px 0;
}
.illustration{
width: 100%;
height: 100%;
}

/*Footer*/
.f-pictures{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}
.btn2{
    width: 30px;
    height: 30px;
    border: 1px solid var(--Gray);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
}
.btn2 img{
    filter: invert(40%) sepia(83%) saturate(628%) hue-rotate(190deg) brightness(103%) contrast(91%);
}
.btn2:hover{
    background-color: var(--Blue);
    cursor: pointer;
    transition: 200ms;
    border: 1px solid var(--Blue);
}
.btn2:hover img{
    filter: brightness(0) invert(1);
    transition: 200ms;
}
.f-icons{
    width: 14px;
    height: 14px;
}
footer{
    margin-top: auto;
}
#error{
    color: var(--Light-Red);
    font-size: 14px;
    font-style: italic;
    margin: 8px 0 0 0;
    width: 530px;
    margin-left: 20px;
}
.f-text{
    color: var(--Gray);
    font-size: 14px;
    margin: 20px 0 80px;
}

@media (max-width: 415px){
    main{
        width: 100vw;
    }
    .logo-container{
        margin: 50px 0 0;
    }
    .m-text{
        font-size: larger;
    }
    .m-paragraph{
        font-size: small;
    }
    .email{
        flex-direction: column;
        gap: 10px;
        align-items: center;
        height: 100%;
    }
    .input-container{
        display: flex;
    flex-direction: column;
    align-items: center;
    }
    .inp{
        width: 75vw;
        height: 6vh;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn{
        width: 80vw;
    }
    .il-container{
        width: 80vw;
    }
    #error{
        width: 100vw;
        text-align: center;
        margin: 0 0 14px;
    }

}